{{ log weapon }}

<div class="faces-dialog-content">
  <section class="faces-dialog-modifiers">
    <div class="faces-dialog-modifier">
      <label
        for="faces-dialog-modifier-attribut"
        >{{ localize 'FACES.Dialog.attribut' }}</label
      >
      <select id="faces-dialog-modifier-attribut" name="attribut">
        <option selected value="-1"></option>
        {{#each actor.system.attributes as |attribut|}}
        <option value="{{ @index }}">{{ attribut.name }}</option>
        {{/each}}
      </select>
    </div>
    <div class="faces-dialog-modifier">
      <label
        for="faces-dialog-modifier-talent"
        >{{ localize 'FACES.Dialog.talent' }}</label
      >
      <select id="faces-dialog-modifier-talent" name="talent">
        <option selected value="-1"></option>
        {{#each (removeEmpty actor.system.talents) as |talent|}}
        <option value="{{ @index }}">{{ talent.name }}</option>
        {{/each}}
      </select>
    </div>
    <div class="faces-dialog-modifier">
      <label
        for="faces-dialog-modifier-difficulty"
        >{{ localize 'FACES.Global.difficulty' }}</label
      >
      <input
        id="faces-dialog-modifier-difficulty"
        name="difficulty"
        type="number"
        value="4"
      />
    </div>
    <div class="faces-dialog-modifier">
      <label
        for="faces-dialog-modifier-modificator"
        >{{ localize 'FACES.Dialog.modificator' }}</label
      >
      <input
        id="faces-dialog-modifier-modificator"
        name="modificator"
        type="number"
        value="0"
      />
    </div>
    {{#if weapon}}
    <div class="faces-dialog-weapon">
      <label
        for="faces-dialog-modifier-weapon"
        >{{ localize 'FACES.Dialog.weapon' }}</label
      >
      <input
        id="faces-dialog-modifier-weapon"
        name="weapon"
        type="number"
        value="0"
      />
    </div>
    {{/if}}
  </section>
</div>
<div class="dialog-buttons">
  {{#each buttons as |button id|}}

  <button
    class="dialog-button {{ cssClass }}"
    data-button="{{ id }}"
    {{disabled
    button.disabled}}
  >
    {{{button.icon}}} {{{button.label}}}
  </button>
  {{/each}}
</div>
