<div class="dice-roll">
  <div class="dice-result">
    <div class="faces-dice-tooltip expanded" style="display: block">
      {{#if weapon}}
      <div>
        {{ weapon.name }} :
        {{ localize (concat 'FACES.Global.dices.' weapon.damage) }}
      </div>
      {{/if}}
      <section class="tooltip-part">
        <div class="dice">
          <header class="part-header flexrow">
            <span class="part-formula"
              >{{ roll.total }} + {{ weaponBonus }}
            </span>
            <span class="part-total">
              <i class="fa-solid fa-burst"></i>
            </span>
          </header>
          <h4 class="dice-total faces-result-damage">
            {{ result }}
          </h4>
          {{~> (partial moduleId "diceDetails") roll=roll }}
        </div>
      </section>
    </div>
  </div>
</div>
