<div class="dice-roll">
  <div class="dice-result">
    <div class="faces-dice-tooltip expanded" style="display: block">
      {{#if weapon}}
      <div>
        {{ weapon.name }} :
        {{ localize (concat 'FACES.Global.dices.' weapon.damage) }}
      </div>
      {{/if}}
      <section class="tooltip-part">
        <div class="dice">
          <header class="part-header flexrow">
            <span class="part-formula"
              >( {{ rA.result }} | {{ rT.result }} : {{ max }}) +
              {{ modificator }}
              {{#if (gt double 0)}}
              + {{ double }} {{/if}}</span
            >

            <span class="part-total">
              {{ difficulty }}
            </span>
          </header>
          <h4
            class="dice-total
          {{#if success}}
          success
          {{else}}
          failure
          {{/if}}
          "
          >
            {{#if criticalFaill}}
            <i class="fa-solid fa-skull"></i>
            &nbsp;
            {{/if}}
            {{ result }}
            &nbsp;
            {{#if (gt degree 0)}}
            =&gt; &nbsp;
            {{ degree }}°
            {{/if}}

            {{#if criticalFaill}}
            <i class="fa-solid fa-skull"></i>
            {{/if}}
          </h4>
          {{> (partial moduleId "diceDetails") roll=roll oneisfaill=oneisfaill}}
          <div class="faces-roll-actions">
            {{#if weapon}}
            {{#if success}}
            <button
              class="faces-roll faces-roll-damage"
              data-action="damage"
              data-actor-id="{{ actor.id }}"
              data-weapon-bonus="{{ weaponBonus }}"
              data-weapon-id="{{ weaponId }}"
              data-weapon-is-melee="{{ weaponIsMelee }}"
            >
              {{ localize 'FACES.Actor.damage' }}
            </button>
            {{/if}}
            {{/if}}
            {{#unless faill}}
            {{#if rA.canExplode}}
            <button
              class="faces-roll faces-roll-explode"
              data-action="explode"
              data-actor-id="{{ actor.id }}"
              data-weapon-id="{{ weaponId }}"
              data-weapon-is-melee="{{ weaponIsMelee }}"
              data-weapon-bonus="{{ weaponBonus }}"
              data-previous-result="{{ rA.result }}"
              data-previous-dice="{{ rA.faces }}"
              data-other-result="{{ rT.result }}"
              data-other-dice="{{ rT.faces }}"
              data-difficulty="{{ difficulty }}"
              data-double="{{ double }}"
              data-modificator="{{ modificator }}"
              data-double-explode="false"
            >
              <i class="fa-solid fa-explosion"></i> D{{ rA.faces }}
            </button>
            {{/if}}
            {{#if rT.canExplode}}
            <button
              class="faces-roll faces-roll-explode"
              data-action="explode"
              data-actor-id="{{ actor.id }}"
              data-weapon-id="{{ weaponId }}"
              data-weapon-is-melee="{{ weaponIsMelee }}"
              data-weapon-bonus="{{ weaponBonus }}"
              data-previous-result="{{ rT.result }}"
              data-previous-dice="{{ rT.faces }}"
              data-other-result="{{ rA.result }}"
              data-other-dice="{{ rA.faces }}"
              data-difficulty="{{ difficulty }}"
              data-double="{{ double }}"
              data-modificator="{{ modificator }}"
              data-double-explode="false"
            >
              <i class="fa-solid fa-explosion"></i> D{{ rT.faces }}
            </button>
            {{/if}}
            {{#if (and rA.canExplode rT.canExplode)}}
            <button
              class="faces-roll faces-roll-explode"
              data-action="explode"
              data-actor-id="{{ actor.id }}"
              data-weapon-id="{{ weaponId }}"
              data-weapon-is-melee="{{ weaponIsMelee }}"
              data-weapon-bonus="{{ weaponBonus }}"
              data-previous-result="{{ rT.result }}"
              data-previous-dice="{{ rT.faces }}"
              data-other-result="{{ rA.result }}"
              data-other-dice="{{ rA.faces }}"
              data-difficulty="{{ difficulty }}"
              data-double="{{ double }}"
              data-modificator="{{ modificator }}"
              data-double-explode="true"
            >
              <i class="fa-solid fa-explosion"></i> D{{ rA.faces }} D{{
                rT.faces
              }}
            </button>
            {{/if}}
            {{/unless}}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
