{{ log roll }}

<div class="dice-roll">
  <div class="dice-result">
    <div
      class="cowboy-dice-tooltip dice-tooltip expanded"
      style="display: block"
    >
      {{#if weapon}}
      <div>
        {{ weapon.name }} :
        {{ localize (concat 'FACES.Global.dices.' weapon.damage) }}
      </div>
      {{/if}}
      <section class="tooltip-part">
        <div class="dice">
          <header class="part-header flexrow">
            <span class="part-formula"
              >{{ roll.formula }} + {{ modificator }}
              {{#if (gt double 0)}}
              + {{ double }}
              {{/if}}
            </span>

            <span class="part-total">
              {{ difficulty }}
            </span>
          </header>
          <h4
            class="dice-total
          {{#if success}}
          success
          {{else}}
          failure
          {{/if}}
          "
          >
            {{ result }}
            &nbsp;
            {{#if (gt degree 0)}}
            {{ degree }}°
            {{/if}}
          </h4>
          <div class="faces-roll-actions">
            {{#if weapon}}
            {{#if success}}
            <button
              class="faces-roll faces-roll-damage"
              data-action="damage"
              data-actor-id="{{ actor.id }}"
              data-weapon-bonus="{{ weaponBonus }}"
              data-weapon-id="{{ weaponId }}"
              data-weapon-is-melee="{{ weaponIsMelee }}"
            >
              {{ localize 'FACES.Actor.damage' }}
            </button>
            {{/if}}
            {{/if}}
            {{#each canExplodes as |canExplode|}}
            <button
              class="faces-roll faces-roll-explode"
              data-action="explode"
              data-actor-id="{{ ../actor.id }}"
              data-weapon-id="{{ ../weaponId }}"
              data-weapon-is-melee="{{ ../weaponIsMelee }}"
              data-weapon-bonus="{{ ../weaponBonus }}"
              data-explode="{{ canExplode }}"
              data-explodes="{{ join (filterdice ../canExplodes @index) }}"
              data-previous-result="{{ ../result }}"
              data-difficulty="{{ ../difficulty }}"
            >
              <i class="fa-solid fa-explosion"></i> D{{ canExplode }}
            </button>
            {{/each}}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
