<div
  class="
{{#if (not display)}}
  hidden
{{/if}}"
>
  <section class="faces-assets-section">
    <div class="faces-assets">
      {{#each actor.system.assets as |asset|}}
      <div class="faces-asset">
        <input
          class="faces-asset-name"
          name="system.assets.{{ @index }}.name"
          type="text"
          value="{{ asset.name }}"
          placeholder="{{ localize 'FACES.Actor.placeholder.asset' }}"
        />
        <input
          class="faces-asset-effect"
          name="system.assets.{{ @index }}.effect"
          type="text"
          value="{{ asset.effect }}"
          placeholder="{{ localize 'FACES.Actor.placeholder.effect' }}"
        />
      </div>
      {{/each}}
    </div>
  </section>

  <h3>{{ localize 'FACES.Actor.weapons' }}</h3>
  <section class="faces-weapons">
    <div class="faces-weapon">
      <div class="faces-weapon-roll-icon faces-weapon-roll-icon-greyed">
        <i class="fa-solid fa-dice"></i>
      </div>
      <div class="faces-weapon-name">
        {{ localize 'FACES.Actor.weapon.name' }}
      </div>
      <div class="faces-weapon-melee-dice">
        {{ localize 'FACES.Actor.weapon.damage' }}
      </div>
      <div class="faces-weapon-special">
        {{ localize 'FACES.Actor.weapon.special' }}
      </div>
    </div>
    {{#each actor.system.meleeWeapons as |weapon|}}
    <div class="faces-weapon">
      <a class="faces-weapon-roll" data-type="melee" data-id="{{ @index }}">
        <i class="fa-solid fa-dice"></i>
      </a>
      <input
        class="faces-weapon-name"
        name="system.meleeWeapons.{{ @index }}.name"
        type="text"
        value="{{ weapon.name }}"
      />
      {{> (partial ../moduleId 'diceSelector') class='faces-weapon-melee-dice' dices=../dices carac=(concat (concat 'system.meleeWeapons.' @index) '.damage') dice=weapon.damage }}
      <input
        class="faces-weapon-range"
        name="system.meleeWeapons.{{ @index }}.range"
        type="hidden"
        value="{{ weapon.range }}"
      />
      <input
        class="faces-weapon-special"
        name="system.meleeWeapons.{{ @index }}.special"
        type="text"
        value="{{ weapon.special }}"
      />
    </div>
    {{/each}}
    <div class="faces-weapon">
      <div class="faces-weapon-roll-icon faces-weapon-roll-icon-greyed">
        <i class="fa-solid fa-dice"></i>
      </div>
      <div class="faces-weapon-name">
        {{ localize 'FACES.Actor.weapon.name' }}
      </div>
      <div class="faces-weapon-ranged-dice">
        {{ localize 'FACES.Actor.weapon.damage' }}
      </div>
      <div class="faces-weapon-range">
        {{ localize 'FACES.Actor.weapon.range' }}
      </div>
      <div class="faces-weapon-special">
        {{ localize 'FACES.Actor.weapon.special' }}
      </div>
    </div>
    {{#each actor.system.rangedWeapons as |weapon|}}
    <div class="faces-weapon">
      <div class="faces-weapon-roll-icon">
        <a class="faces-weapon-roll" data-type="ranged" data-id="{{ @index }}">
          <i class="fa-solid fa-dice"></i>
        </a>
      </div>
      <input
        class="faces-weapon-name"
        name="system.rangedWeapons.{{ @index }}.name"
        type="text"
        value="{{ weapon.name }}"
      />
      {{> (partial ../moduleId 'diceSelector') class='faces-weapon-ranged-dice' dices=../dices carac=(concat (concat 'system.rangedWeapons.' @index) '.damage') dice=weapon.damage }}
      <input
        class="faces-weapon-range"
        name="system.rangedWeapons.{{ @index }}.range"
        type="number"
        value="{{ weapon.range }}"
      />
      <input
        class="faces-weapon-special"
        name="system.rangedWeapons.{{ @index }}.special"
        type="text"
        value="{{ weapon.special }}"
      />
    </div>
    {{/each}}
  </section>
</div>
