<div
  class="
{{#if (not display)}}
  hidden
{{/if}}"
>
  <div class="faces-inventory">
    <div>
      <div class="faces-bag">
        <textarea class="faces-inventory-bag" name="system.bag" rows="18"
          >{{ actor.system.bag }}
      </textarea
        >
      </div>
      <h3>{{ localize 'FACES.Actor.armors' }}</h3>
      <section class="faces-armors">
        {{#each actor.system.armors as |armor|}}
        <div class="faces-armor">
          <input
            class="faces-armor-name"
            name="system.armors.{{ @index }}.name"
            type="text"
            value="{{ armor.name }}"
            placeholder="{{ localize 'FACES.Actor.placeholder.name' }}"
          />
          <input
            class="faces-armor-defense"
            name="system.armors.{{ @index }}.defense"
            type="number"
            value="{{ armor.defense }}"
          />
          <input
            class="faces-armor-special"
            name="system.armors.{{ @index }}.special"
            type="text"
            value="{{ armor.special }}"
            placeholder="{{ localize 'FACES.Actor.placeholder.special' }}"
          />
        </div>
        {{/each}}
      </section>
    </div>
    <div>
      <div class="faces-bag">
        <textarea class="faces-inventory-bag" name="system.bag2" rows="18"
          >{{ actor.system.bag2 }}
        </textarea>
      </div>
      <h3>{{ localize 'FACES.Actor.contacts' }}</h3>
      <section class="faces-contacts">
        {{#each actor.system.contacts as |contact|}}
        <div class="faces-contact">
          <input
            class="faces-contact-name"
            name="system.contacts.{{ @index }}.name"
            type="text"
            value="{{ contact.name }}"
          />
          {{> (partial ../moduleId 'diceSelector') dices=../dices carac=(concat (concat 'system.contacts.' @index) '.dice') dice=contact.dice }}
        </div>
        {{/each}}
      </section>
    </div>
  </div>
</div>
